<div class="container">

  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">


    <div class="row">
      <div class="col-md-12 text-end">
        <a class="btn btn-primary me-2" routerLink="/login">Iniciar Sesión</a>
        <a class="px-2 link-dark" routerLink="/registrarUsuario">Registrarse</a>
      </div>
    </div>
    <div class="row">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">        
        <li><a routerLink="/depositos" class="nav-link px-2 link-dark">Depositar</a></li>
        <li><a routerLink="/retiros" class="nav-link px-2 link-dark">Retirar dinero</a></li>
        <li><a routerLink="/misTransacciones" class="nav-link px-2 link-dark">Mis Transacciones</a></li>
      </ul>
    </div>

  </header>



  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>