<div class="container">

  <header class="d-flex flex-wrap  justify-content-center justify-content-md-between py-2 ">


    <div class="row" *ngIf="!sesion">
      <div class="col-md-12 text-end">
        <a class="btn btn-primary me-2" routerLink="/login">Iniciar Sesión</a>
        <a class="px-2 link-dark" routerLink="/registrarUsuario">Registrarse</a>
      </div>
    </div>

    <div *ngIf="sesion" class="row">
      <div class="col-12">
        <span  class="align-top">
          <h5>Bienvenido/a {{ sesion.usuario.nombre }} </h5>          
        </span>
      </div>
    </div>


    <div  *ngIf="sesion" class="row">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/depositos" class="nav-link px-2 link-dark">Depositar</a></li>
        <li><a routerLink="/retiros" class="nav-link px-2 link-dark">Retirar dinero</a></li>
        <li><a routerLink="/transferencias" class="nav-link px-2 link-dark">Transferencias</a></li>
        <li><a routerLink="/misTransacciones" class="nav-link px-2 link-dark">Mis Transacciones</a></li>
        <li><button class="w-100 btn btn-sm btn-primary" type="button" (click)="onCerrarSesion()">Cerrar Sesión</button></li>
      </ul>
    </div>

  </header>



  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>