<div class="container">
    <form>
        <h1 class="h3 mb-3 fw-normal text-center">Transferir dinero</h1>
        <div class="form-group">
            <div class="col-md-12 mb-3">
                <label for="floatingInput">Ingrese el valor a transferir:</label>
                <input type="text" class="form-control" placeholder="0" id="montoTxt" name="montoTxt"
                    [(ngModel)]="monto" #montoTxt="ngModel" [ngClass]="{ 'is-invalid': montoTxt.invalid }" required
                    pattern="[0-9]{0,}" min="1"  (keyup.enter)="onConfirmar()">
                <div class="invalid-tooltip">
                    Monto inválido: Debe ser un número positivo!
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 mb-3">
                <label for="floatingInput">Ingrese el rut del receptor:</label>
                <input type="text" class="form-control" placeholder="XXXXXXXX-X" id="rutTxt" name="rutTxt"
                    [(ngModel)]="rut" #rutTxt="ngModel" [ngClass]="{ 'is-invalid': rutTxt.invalid }" required
                     (keyup.enter)="onConfirmar()">
                <div class="invalid-tooltip">
                    RUT requerido
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="w-100 btn btn-lg btn-primary" type="button" (click)="onConfirmar()">Transferir desde mi
                    cuenta</button>

            </div>
        </div>
    </form>
</div>