<div class="container">
    <h3>Registre sus datos</h3>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <!-- Nombre -->
            <label for="nombre" class="control-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre"
                formControlName="nombre" [ngClass]="{ 'is-invalid': isInvalidNombre() }">
            <div class="invalid-feedback">
                Debe ingresar un nombre
            </div>
        </div>

        <div class="form-group">
            <!-- R.U.T. -->
            <label for="rut" class="control-label">R.U.T.</label>
            <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese su R.U.T."
                formControlName="rut" [ngClass]="{ 'is-invalid': isInvalidRut() }">            
            <div class="invalid-feedback">
                R.U.T. inválido
            </div>
        </div>

        <div class="form-group">
            <!-- Email -->
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="su correo"
                formControlName="email"  [ngClass]="{ 'is-invalid': isInvalidEmail() }">        
            <div class="invalid-feedback">
                Email inválido
            </div>
        </div>


        <div class="form-group">
            <!-- Password -->
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="*****"
                formControlName="password"  [ngClass]="{ 'is-invalid': isInvalidPassword() }" >
                <div class="invalid-feedback">
                    Password inválido (Debe incluir may, min y nro, mínimo 5 caracteres)
                </div>
        </div>

        <div class="form-group">
            <!-- Register Button -->
            <button type="submit" class="btn btn-primary btn-lg w-100">Registrarme</button>
        </div>

    </form>
</div>